<h1>My Custom Table</h1>
<input type="text" placeholder="searchByName" [(ngModel)]="searchVal"/>
<button class="btn btn-primary" (click)="search()">Click</button>
<hr>
<table id="users">
  <tr>
    <th *ngFor = "let column of headers">
      {{column}}
    </th>
  </tr>

  <tr *ngFor = "let row of rows">
    <td *ngFor = "let column of headers" [ngClass]="{bgRed : column ==='ID', bgGreen: column!=='ID' }">
      {{row[column]}}
    </td>
  </tr>

</table>