<h2>{{ 'home.pageTitle' | translate }}</h2>
<h2>{{ 'home.content' | translate }}</h2>
<select #langSelect (change)="translate.use(langSelect.value)">
  <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
</select>