<div class="container">
  <div class="row">
    <h1>Buttons</h1>
    <div class='col-12'>
      <button type="button" class="btn btn-primary mr-2">Primary</button>
      <button type="button" class="btn btn-secondary mr-2">Secondary</button>
      <button type="button" class="btn btn-success mr-2">Success</button>
      <button type="button" class="btn btn-danger mr-2">Danger</button>
      <button type="button" class="btn btn-warning mr-2">Warning</button>
    </div>
  </div>
  <div class="row mt-3 mb-2">
    <select class="form-control" (change)="on($event)"
      [ngClass]="{ 'is-invalid': submitted && f.numberOfTickets.errors }">
      <option value=""></option>
      <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
    </select>
  </div>
  <span [ngSwitch]='number'>
    <span *ngSwitchCase='1'>One</span>
  </span>
  <div  class="row mb-2">
    <input type="text" [(ngModel)]='alertName'>
  </div>
  <div>Child to Parent: {{childValue}} {{hello}}</div>
   <app-alert [alert]='alertName' (setChildValue)='setChildValue($event)' (sayHello)='sayHello1($event)'></app-alert>
</div>