<div class="container">
  <h3>Alerts</h3>
  <div class="alert alert-primary" role="alert">
    This is a primary alert—check it out!
  </div>
  <div class="alert alert-secondary" role="alert">
    This is a secondary alert—check it out!
  </div>
  <div class="alert alert-success" role="alert">
    {{alert}}
  </div>
  <div  class="row mb-2">
    <input type="text" [(ngModel)]='alertName' (click)="setChildValue.emit($event)">
  </div>
  <div  class="row mb-2">
    <button class="btn btn-success mr-2" (click)="hello()">Pass Hello</button>
  </div>
</div>