<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div>
      <label>
        Name:
        <input formControlName="name" placeholder="Your name">
      </label>
      <div *ngIf="myForm.get('name').invalid && (myForm.get('name').dirty || myForm.get('name').touched)">
        Please provide a name.
      </div>
    </div>
    <div>
      <label>
        Email:
        <input appFirst formControlName="email" placeholder="Your email">
      </label>
      <div *ngIf="myForm.get('email').invalid &&  (myForm.get('email').dirty || myForm.get('email').touched)">
        Please provide a valid email address.
      </div>
    </div>
    <div>
      <label>
        Phone:
        <input formControlName="phone" placeholder="Your phone">
      </label>
      <div *ngIf="myForm.get('phone').invalid && myForm.get('phone').errors?.mobileNoInvalide">
        Please provide a phone number.
      </div>
    </div>
    <div>
      <label>
        Message:
        <input formControlName="message" placeholder="Your message">
      </label>
      <div *ngIf="myForm.get('message').invalid && (myForm.get('message').dirty || myForm.get('message').touched)">
        Messages must be at least 15 characters long.
      </div>
    </div>
    <div formGroupName='passwords'>
    <div>
      <label>
        Password:
        <input formControlName="pass1" class="form-control" placeholder="Password">
      </label>
    </div>
    <div>
      <label>
        Confirm Password:
        <input formControlName="pass2" placeholder="Confirm Password" class="form-control">
      </label>
      <!-- <div *ngIf="myForm.get('group').get('pass2').invalid && (myForm.get('pass2').dirty || myForm.get('pass2').touched)">
        Please enter a password
      </div> -->
    </div>
    <div class="error" *ngIf="myForm.get('passwords').touched && myForm.get('passwords').hasError('notTheSame')">
      Passwords not match.
    </div>
  </div>
    <button type="submit" [disabled]="myForm.invalid">Send</button>
  </form>   