<div>
  <div>Uppercase : {{value | uppercase |shorten:5}}</div>
  <div>Lowercase :{{value | lowercase}}</div>
  <div>Date : {{date | date:'HH/MM/yyyy hh:mm:ss'}}</div>
  <div>Obj : {{obj}}</div>
  <div>Json : {{obj | json}}</div>
</div>
<table id="users">
  <tr *ngFor = "let row of users">
    <td>{{row.id}}</td>
    <td>{{row.email}}</td>
    <td>{{row.first_name}}</td>
    <td>{{row.last_name}}</td>
    <td><img src="{{row.avatar}}"/></td>
  </tr> 
</table>
<button id='my-element'>Hi</button>