<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="row col-md-8 offset-md-2" [ngStyle]="{backgroundColor:'green', color:'white', minHeight:'50px'}">
                <strong> Answer : </strong>
                <span *ngFor="let item of model | keyvalue">
                    {{item.key}}:{{item.value}}&nbsp;&nbsp;</span>
            </div>
            <div class="col-md-8 offset-md-2">
                <h1>Template-driven Form Example (with one-way data binding):</h1>
                <form #f="ngForm" (ngSubmit)="onSubmitTemplateBased()">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName"
                            #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
                            required />
                        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                            <div *ngIf="firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName"
                            #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
                            required />
                        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                            <div *ngIf="lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
                            #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required
                            minlength="6" />
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>